form {
  margin-top: 100px;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  font-size: 16px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: black;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #444;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 0pt;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 0.6rem;
  font-size: 1.5rem;
}

footer a:hover .fa-instagram{
  color: #f5008bf1
}

footer a:hover .fa-whatsapp{
  color: #04c946;
}

footer a:hover .fa-github{
  color: #000000;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 1000px;
  height: 1000px;
  z-index: -1;
  transform: translate(-50%, -50%);
}
video {
  filter:none;
}

.fp {
    color: rgb(255, 255, 255);
    font-size: 8.5pt;
    
}
.torres {
    color:rgb(255, 255, 255);
    font-size: 8.5pt;
    
}


.botao-enviar {
    background-color: rgba(18, 14, 14, 0.5);
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: box-shadow 0.3s ease-out;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 70px;
    margin-bottom: -3em;
  }
  
  .botao-enviar:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  
  .botao-enviar:active {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }

/* CSS */
.nav-centralizado {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.nav-centralizado ul {
  list-style: none;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-centralizado li {
  margin: 0 20px;
}

.form-centralizado {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-centralizado form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}